<h1 align="center">Honda Materials</h1>
<br>
<p align="center">New User?<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %></p>
<p align="center">Already a member? <%= link_to "Sign In", signin_path %></p>


<br>
<div class="container">
  <div class="row">
   <div class="col-lg-5"><div class="well well-lg">
	<h2>Users: </h2>
<ul>
   </div></div>
   
   <div class="col-lg-3"><div class="well well-lg">
<h2>Admin </h2>

</div>
</div>
</div>
<hr>
