<h1 align="center">Honda CAE Material Databse</h1>
<br>
<br>
<div class="container">
  <div class="row">
  	<div class="col-lg-5">
  		<div class="well well-lg">
				<h2> Users: </h2>
				<ul>
					<h5> Sign Up/Login.</h5> Create an account using an active email address.  Login using the email address and password you used during sign up. You can change any of these by clicking on "Edit Profile" under "Accounts" on the navigation bar. 
					<h5> Search/View Material Database.</h5> You can view the Matarial Database which contains the list of materials at Honda and their properties. You can Search, Sort/Filter and then Export the list of materials in the table to an Excel/CSV file.
					<h5> Testfiles. </h5> Users will be able to view/download testfile created by other users. Users that create testfiles will be able to submit a request to an Admin should the user no longer need the testfile.
				</ul>
			</div>
  	</div>
  <div class="col-lg-3">
  	<div class="well well-lg">
  		<h2>Admin </h2>
  		<ul>
  			<h5> Login. </h5>  An Admin would log in the same way a user would.
  			<h5> Search/View Database. </h5>  An admin can edit, add and delete materials in the list. 
  			<h5> Testfiles. </h5> Admins can edit, add, and delete testfiles associated.
  			<h5> Request Notifications. </h5> An admin homepage differs from that of a normal user in that Admins will have a table containing user requests to delete testfiles.
  		</ul>
  	</div>
  </div>
</div>
<hr>
