<h1 align="center">Welcome to Honda Materials!</h1>
<br>
<br>
<div class="container">
  <div class="row">
  	<div class="col-lg-5">
  		<div class="well well-lg">
				<h2> Website Functions </h2>
				<ul>
					<h5> Search/View Material Database</h5>
					<ul>
						<li>View the list of materials at Honda, as well as their properties.</li>
						<li>Search for Materials, and then export them to Excel/CSV files.</li>
						<li>List/Add Files associated with Material tests.</li>
					</ul>
			</div>
  	</div>
  	<div class="col-lg-5">
  		<div class="well well-lg">
				<h2> DPM </h2>
				<ul>
					<h5> Go through the Data Processing Module</h5>
					<ul>
						<li>Click <%= link_to "here", new_dpm_path %> to run the DPM</li>
					</ul>
			</div>
			
  	</div>
  </div>
</div>
