
<div class="jumbotron">
		<span style="float: left; margin-right: 15px;">
    	<%= image_tag(@user.avatar_url.to_s, :size => "200x200") %>
    </span>
		<h1><%= @user.name %></h1>
		<h3><%= @user.email %></h3>
		<p>This is your Dashboard! Choose what you want to do:</p>
		<% if is_admin? %>
			<p>YOU ARE AN ADMIN! BLOWIN UP, SON!!!!</p>
		<% end %>
		<%= link_to 'Edit Profile', edit_user_path %>
		<h2> Your testfiles (In progress): </h2>
		<p> List of testfiles this user has added. </p>
		<!-- refer to the materials index page for listing testfiles -->
		<h2> Your materials (In progress): </h2>
		<p> List of materials this user has added. </p>
		<!-- refer to the materials index page for listing testfiles -->
</div>
<br>









